.character-sheet {
    max-width: 8.5in;
    box-sizing: border-box;
    flex: 1 1 0;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.character-sheet .header {
    font-family: 'Cinzel Decorative', serif;
    text-transform: capitalize;
    margin: 0.5rem 0;
    align-self: stretch;
    text-align: center;
}

.character-sheet-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.character-sheet-top > .header {
    font-size: xx-large;
}

.character-information .item {
    width: 20rem;
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    white-space: nowrap;
}

.character-information .item > .label {
    font-weight: bold;
    font-family: 'Black Ops One', fantasy;
    margin-right: 0.5rem;
}

.character-information .item > .field {
    border-bottom: 1px solid black;
    flex: 1;
}

.character-sheet-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.character-sheet-section > .header {
    font-size: x-large;
    border: dotted black;
    border-width: 1px 0;
}

.character-trait-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.character-trait-category {
    flex: 1 1 0;
    margin: 0 1rem 1rem 1rem;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
}

.character-trait {
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.character-trait-name {
    margin: 2px 8px;
    min-width: 7rem;
}

.character-trait-dots {
    display: flex;
    flex-direction: row;
}

.character-trait-dots .dot {
    height: 10px;
    width: 11px;
    background-color: lightgray;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 1px;
}

.character-trait-dots .filled {
    background-color: black;
}


.character-trait-dots .spendable {
    height: 11px;
    width: 11px;
    border-radius: 20%;
    border: 1px solid black;
    margin: 0 1px;
}

.character-trait-dots .spent:after{
    content:"";
    position:absolute;
    border-top:2px solid red;
    width: 14px;
    transform: rotate(45deg);
    transform-origin: 1px 1px;
}

.character-trait-dots .unavailable {
    background-color: darkgray;
}

.character-trait-specialties {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.character-health {
    display: flex;
    flex-direction: column;
}

.health-level {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.2rem 0;
    width: 12rem;
}

.health-level-name {
    flex: 1;
}

.health-level-penalty {
    flex: 0;
    margin-right: 0.5rem;
}

.health-level-box {
    height: 1rem;
    width: 1rem;
    border-radius: 10%;
    border: 1px solid black;
}

.character-sheet a {
    color: inherit;
    text-decoration: none;
}

.character-sheet a:hover {
    color: mediumslateblue;
}

@media print {
    @page {
        margin: 1.5rem;
    }

    .character-sheet {
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}
