extends layout

block content
  style
    include ../styles/documentation.css

  div.documentation.fixed-width!=document.contentHtml
  div.sidebar
    div.toc
      div.header Table of Contents
      div.toc-contents!=document.tocHtml
    a(href="#top").back-to-top Back to Top
