extends layout

block content
  div.fixed-width.center-text
    h1 Welcome to Maelstrom!
    img(src='/images/spacecraft.png')
    p Please use the links in the navbar above to check out the game's lore and rules.
