mixin navbarLink(href, text)
    a(class=`navbar-link ${href === path ? 'current' : ''}` href=href)=text

html
    head
        title Maelstrom
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Black+Ops+One|Cinzel+Decorative')
        style
            include style.css
    body
        div(class='banner')
            h1 Maelstrom RPG

        div(class='navbar')
            +navbarLink('/', 'home')
            each documentName in availableDocumentation
                +navbarLink(`/documentation/${documentName}`, documentName)

        main
            block content

        div(class='footer')
            div(class='left')
                a(href='https://github.com/tanndev/maelstrom' target='__blank')
                    img(src='/images/octocat.png')
            div(class='right')
                p Favicon provided by #[a(href='http://icons8.com/') Icons8]
