html
    head
        title Maelstrom
        //style
        //    include style.css
    body
        h1(class="banner") Maelstrom RPG
        main
            block content
        div(class='footer')
            p Favicon provided by #[a(href='http://icons8.com/') icons8].

